<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.MelodyMateBackend.mapper.SongMapper">

    <select id="getAllSong" resultType="Song">
        SELECT SID,
               RANK,
               SONGTITLE,
               ARTIST,
               THUMBNAIL,
               DURATION,
               VIEWCOUNT,
               URL,
               RELEASEDATE,
               CHARTMONTH
        FROM SONG
    </select>

    <insert id="chartSave">
        INSERT INTO SONG(SID,
                         RANK,
                         SONGTITLE,
                         ARTIST,
                         THUMBNAIL,
                         DURATION,
                         VIEWCOUNT,
                         URL,
                         RELEASEDATE,
                         CHARTMONTH)
        VALUES (SONG_SEQ.NEXTVAL,
                #{rank},
                #{songTitle},
                #{artist},
                #{thumbnail},
                #{duration},
                #{viewCount},
                #{url},
                #{releaseDate},
                #{chartMonth})
    </insert>

</mapper>