<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="loggingPath" source="logging.file.path"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${loggingPath}/melodymate-log.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 로그 파일 이름을 날짜별로 분리합니다. -->
            <fileNamePattern>${loggingPath}/archived/your_app_name-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory> <!-- 보관할 로그 파일의 최대 기간 설정 (예: 30일) -->
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE-ROLLING" />
    </root>
</configuration>
